---

---

<div id="container">
	<canvas id="oligen" width="200" height="200"> Oli Generator </canvas>
	<input type="text" id="whathesays" placeholder="Type here" />
</div>

<script>
	let canvas = document.getElementById("oligen")! as HTMLCanvasElement;
	canvas.width = window.innerWidth * 0.4
	canvas.height = window.innerWidth * 0.4
	let ctx = canvas.getContext("2d")!;
	let base_image = new Image();
	base_image.src = "/olii-bubble.webp";
	base_image.onload = function () {
		gen_img("Enter Text Below");
	};
	function gen_img(text: string) {
		console.log(`Drawing ${text}`)
		ctx.drawImage(base_image, 0, 0, canvas.width, canvas.height);
		ctx.font = "4vw serif";
		
		ctx.fillText(text, 25 * canvas.width/200, 75 * canvas.width/200, 100 * canvas.width/200);
	}

	let inputField = document.getElementById("whathesays")!;
	inputField.addEventListener("input", (e) => {
		gen_img((e.target as HTMLInputElement).value);
	});
</script>
<style>
	div#container {
		display: flex;
		width: 100vw;
		flex-direction: column;
		align-items: center;
	}

	input {
		font-family: serif;
		width: 40vw;
		font-size: 2vw;
		border-color: white;
		border-width: 0.2vw;
		border-style: solid;
		outline: 0px black;
	}

	input:focus {
		border-color: green;
		border-width: 0.2vw;
		border-style: solid;
		outline: 0px black;
	}
</style>
